{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Water Tracker</title>
   <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
   <!-- Materialize CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   {% block head %}
   {% endblock %}
   
</head>
<body>

    <!-- jQuery -->
    <script href="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Materialize CSS -->
    <script href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

    {% block body %}
    {% endblock %}

</body>
</html>