{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>AutoSlide</title>
	<!-- Style CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="blob" id="parallax">
        <div class="blob-layer parallax" id="blob-1" data-speed="29"></div>
        <div class="text-container">
            <div class="text-wrapper">
                <h2 id="title">AUTOSLIDE</h2>
                <h3 id="description">an automatic image tool for powerpoints powered by ml</h3>
            </div>
        </div>
        <div class="blob-layer parallax" id="blob-2" data-speed="69"></div>
        <div class="blob-layer parallax" id="blob-3" data-speed="69"></div>
        <div class="blob-layer cover" id="blob-4" data-speed="100"></div>
        <div class="blob-layer cover" id="blob-5" data-speed="100"></div>
        <div class="blob-layer fix" id="blob-6" data-speed="100"></div>
    </section>

    <div class="upload parallax" data-speed="100" style="margin-bottom: 0">
        <div class ="centered">
            <div class="file-container">
                <div id="upload">
                    <div  class="drag-area">
                        <header><b>drag & drop a<br>powerpoint</b> (.pptx)</header>
                        <span> or </span>
                        <button>browse file</button>
                        <input type="file" hidden>
                    </div>
                </div>

                <div id="uploaded">
                    <div class="drag-area">
                        <header><b id="name-file"></b></header>
                        <header id="size-file"></header>
                        <span id="processing">processing...</span>
                        <!-- <span>downloading</span> -->
                        <span id="complete">complete!</span>
                        <button id="another" onclick="another()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div id="footer">
                    <span class="container" style="margin:auto; max-width: 900px; width: 80%;">
                        Introducing AutoSlide! An ML-powered image generator for all your crunch time needs. Visuals are often a key component of keeping the users attention and providing interest in a topic. However, one of the most time consuming tasks when making slides is simply going through all the keywords on a slide and choosing good visuals to accomodate the presentation. With AutoSlide this will never be an issue again! AutoSlide automatically chooses images and adds them to your powerpoints based on the content of your uploaded slides. Try it out above, or check out our GitHub repo at the link below!
                    </span>
                    <a href="https://github.com/skyflaren/autoslide" style="margin-top: 20px; padding: 20px 0px 5000px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--light-grey)" class="bi bi-github" viewBox="0 0 16 16">
                          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </div>

                <script src="{% static 'js/script.js' %}"></script>
            </div>      
        </div>      
    </div>

	

{% endblock %}