{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>AutoSlide</title>
	<!-- Style CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="blob" id="parallax">
        <div class="blob-layer parallax" id="blob-1" data-speed="29"></div>
        <div class="text-container">
            <div class="text-wrapper">
                <h2 id="title">AUTOSLIDE</h2>
                <h3 id="description">an automatic image tool for powerpoints powered by ml</h3>
            </div>
        </div>
        <div class="blob-layer parallax" id="blob-2" data-speed="69"></div>
        <div class="blob-layer parallax" id="blob-3" data-speed="69"></div>
        <div class="blob-layer cover" id="blob-4" data-speed="100"></div>
        <div class="blob-layer cover" id="blob-5" data-speed="100"></div>
        <div class="blob-layer fix" id="blob-6" data-speed="100"></div>
    </section>

    <div class="upload parallax" data-speed="100">
        <div class ="centered">
            <div class="file-container">
                <div id="upload">
                    <div  class="drag-area">
                        <header><b>drag & drop a<br>powerpoint</b> (.pptx)</header>
                        <span> or </span>
                        <button>browse file</button>
                        <input type="file" hidden>
                    </div>
                </div>

                <div id="uploaded">
                    <div class="drag-area">
                        <canvas id="myCanvas" width="300" height="200" style="border:0px solid #d3d3d3;"></canvas>
                    </div>
                </div>

                <div class="range-slider">
                    <input type="range" min="0" max="100" value="50" step="50" list="tickmarks">
                    <datalist id="tickmarks">
                        <option value="0" label="General"></option>
                        <option value="50" label="Moderate"></option>
                        <option value="100" label="Specific"></option>
                    </datalist>
                </div>

                <form id="upload-button">
                    <div class="submit-button" style="margin-top:10px;">
                        <button class="" onclick="uploadFile()">submit</button>
                    </div>
                </form>

                <script src="{% static 'js/script.js' %}"></script>
            </div>      
        </div>      
    </div>

	

{% endblock %}