body{
    background-color: var(--cadet-blue);
}

.text-container{
    display:flex; 
    position:absolute; 
    top:0; 
    bottom:0; 
    right:40%; 
    left:0; 
}

.text-wrapper{
    margin: auto;
    color: var(--light-grey)
}

.blob, .blob-layer {
	height: 100vh;
}

.blob-layer{
	background-position: bottom center;
	background-size: auto 200vh;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.blob-layer.parallax {
	position: fixed;
}

.blob {
	position: relative;
}

.upload {
    margin-top: 175vh;
    background-color: var(--light-grey);
}

#title{
    z-index: -200;
    font-family: 'Kanit', sans-serif;
    font-size: 5rem;
    letter-spacing: 4pt;
}
#description{
    z-index: -200;
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 1.25rem;
}

#parallax {
	display: block;
}

#blob-1 {
    background-image: url('../img/top_blob.png');
    background-size: 100% 100%;
    z-index: -300;
}

#blob-2 {
    background-image: url('../img/left_blob.png');
    background-size: 100% 100%;
    z-index: -100;
}

#blob-3 {
    background-image: url('../img/right_blob.png');
    background-size: 100vw 100vh;
    z-index: -100;
}
#blob-4 {
    background-image: url('../img/transition_blob.png');
    margin-top: 200vh;
    background-size: 100% 100%;
    z-index: -90;
}
#blob-5 {
    background-color: var(--light-grey);
    margin-top: 300vh;
    padding: 500px;
    background-size: 100% 100%;
    z-index: -85;
}
#blob-6 {
    background-color: var(--light-grey);
    margin-top: 210vh;
    padding: 500px;
    background-size: 100% 100%;
    z-index: -85;
}




